@model IEnumerable<VegeFoods_MVC.Models.Slider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index - Sliders</h1>
<br />
@Html.Partial("_IndexCreateSection")
<div class="row">
	<div class="col-xxl-12">
		<div class="card mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table align-middle table-hover m-0">
						<thead>
							<tr>
								<th scope="col">
									@Html.DisplayNameFor(model => model.Id)
								</th>
								<th scope="col">
									Image
								</th>
								<th scope="col">
									@Html.DisplayNameFor(model => model.Title)
								</th>
								<th scope="col">
									@Html.DisplayNameFor(model => model.Subtitle)
								</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td scope="row">
										@Html.DisplayFor(modelItem => item.Id)
									</td>
								<td scope="row">
									<img class="rounded-circle img-3x me-2" src="~/images/@Html.DisplayFor(modelItem => item.BackgroundImage)"
										 alt="Bootstrap Gallery" />
								</td>
									<td>
										@Html.DisplayFor(modelItem => item.Title)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Subtitle)
									</td>
									<td>
										<a class="btn btn-warning btn-icon btn-sm mb-1" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a> 
										<a class="btn btn-primary btn-icon btn-sm mb-1" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-search"></i></a> 
										<a class="btn btn-danger btn-icon btn-sm mb-1" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>